/*@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);*/

html,
body {
    height: 100%;
    /*font-family: 'Patrick Hand SC', cursive;*/
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    letter-spacing:0.4px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
    /*background-color: #FFF8E1;*/
}

.container{
    /*max-width: 970px;*/
}

.footer {
    height: 60px;
    background-color: #ecebeb;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar {
    background-color: #FFA726;
    box-shadow: 2px 1px 2px #888888;
}

.navbar a{
    color: black;
}

@media (min-width: 768px){
    .navbar-nav > li {
        padding: 7px 10px;
    }
    .navbar-nav > li:last-child{
        padding-right: 0px;
    }
    

    .navbar-nav > li > a{
        /*border: 2px black solid;*/
        padding: 6px 30px;
        background-color: #FFE0B2;

        border:solid 2px #41403E;
        align-self:center;
        /*background:transparent;*/
        /*padding:1rem 1rem;*/
        /*margin:0 1rem;*/
        transition:all .5s ease;
        color:#41403E;
        font-size:2rem;
        letter-spacing:1px;
        outline:none;
        /*box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);*/
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    }
    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }
}

.navbar-toggle:before {
    content:"▼";
}

.navbar-toggle {
    margin-bottom: 0px;
    background-color: #FFE0B2;
    border: solid 2px #41403E;
    transition: all .5s ease;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 6px 10px 0px 11px;
    margin-top: 3px;
}

.btn{
    /*border: 2px black solid;*/
    padding: 6px 30px;
    background-color: #FFE0B2;
    border:solid 2px #41403E;
    align-self:center;
    /*background:transparent;*/
    /*padding:1rem 1rem;*/
    /*margin:0 1rem;*/
    transition:all .5s ease;
    color:#41403E;
    font-size:2rem;
    letter-spacing:1px;
    outline:none;
    box-shadow: 5px 6px 19px 3px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

/*login*/  

.rememberMe{
    display: inline-block;
    float: left;
}

.forgetpassword{
    float: right;
    text-decoration: underline;
}

}


